/*
Make sure that the sidebar contents are not hidden
by the top navbar
*/

.payir-sidebar {
    top: 80px;
}
/*
Make sure that the main area content is not hidden
by the top navbar + show a scrollbar for the main area
if necessary
*/

.payir-main-area {
    top: 80px;
    overflow-y: scroll;
}
/*
Push the sub menu items slightly inside.
Used for each of the reports in the "Reports" section
*/

.sub-menu-item {
    margin-left: 8px;
    font-size: 13px;
}
/*
The title of each page
*/

.payir-heading {
    margin-left: 2%;
    margin-bottom: 2%;
    text-transform: capitalize;
}
/*
Margin top small
*/

.mts {
    margin-top: 0.5em;
}
/* 
Margin top medium
*/

.mtm {
    margin-top: 1.5em;
}
/* 
Margin bottom medium
*/

.mbm {
    margin-bottom: 1.5em;
}
/* 
Margin left medium
*/

.mlm {
    margin-left: 1.5em;
}
/* 
Margin right medium
*/

.mrm {
    margin-right: 1.5em;
}

.animate-show {
    opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.animate-show.ng-hide {
    opacity: 0;
}

.form-error {
    opacity: 0;
}

.form-error.ng-active {
    opacity: 1;
}

.form-error.ng-inactive {
    opacity: 0;
}

.form-error > .message.ng-enter,
.form-error > .message.ng-leave {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.form-error > .message.ng-enter,
.form-error > .message.ng-leave.ng-leave-active {
    opacity: 0;
}

.form-error > .message.ng-leave,
.form-error > .message.ng-enter.ng-enter-active {
    opacity: 1;
}