.payir-sidebar {
    top: 80px;
}

.payir-main-area {
    top: 80px;
    overflow-y: scroll;
}

.sub-menu-item {
    margin-left: 8px;
    font-size: 13px;
}

.payir-heading {
    margin-left: 2%;
    margin-bottom: 2%;
    text-transform: capitalize;
}