<!-- Title of the page - the name of the individual, in this case -->
<div class="row">
    <div class="col-md-offset-1 col-md-11">
        <h3 class="payir-heading">Sekar</h3>
    </div>
</div>

<!-- Customer information -->
<div class="row">
    <div class="col-md-offset-1 col-md-5">
        <div class="form-group">
            <label>Service No.</label>
            <h5>0025764o</h5>
        </div>
        <div class="form-group">
            <label>Username</label>
            <h5>Sekar764</h5>
        </div>
        <div class="form-group">
            <label>E-mail id</label>
            <h5>sekarmsa@gmail.com</h5>
        </div>
        <div class="form-group">
            <label>Date of Birth</label>
            <h5>02-06-1990</h5>
        </div>
        <div class="row">
        </div>
        <div class="form-group">
            <label>Address</label>
            <h5>4/82, T.Patti, Thenur</h5>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label>Mobile No.</label>
            <h5>7639387344</h5>
        </div>
        <div class="form-group">
            <label>Password</label>
            <h5>********</h5>
        </div>
        <div class="form-group">
            <label>Date of Join</label>
            <h5>02-04-2015</h5>
        </div>

        <div class="form-group">
            <label>Due date</label>
            <h5>05-05-2015</h5>
        </div>

        <div class="form-group">
            <label>Village</label>
            <h5>Thottiyappatti</h5>
        </div>
    </div>
</div>

<!-- Bill payment history of the individual -->
<div class="row">
    <div class="col-md-offset-1 col-md-6">
        <table class="table table-bordered">
            <tr>
                <th>S.No.</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
        </table>
    </div>
</div>