<div class="row">
    <div class="col-md-offset-1 col-md-11">
        <h3>INDIVIDUAL REPORT</h3>
    </div>
</div>
<div class="row">

    <div class="col-md-offset-1 col-md-10">
        <!--one line extra space -->
        <form class="form-inline">
            <div class="form-group">
                <label for="exampleInputName2">Service No</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="000000">
            </div>
            <div class="form-group">
                <label for="exampleInputName2">Name</label>
                <input type="name" class="form-control" id="exampleInputEmail2" placeholder="Sekar">
            </div>
            <div class="form-group">
                <label for="exampleInputName2">Village</label>
                <input type="village" class="form-control" id="exampleInputEmail2" placeholder="Thenur">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>
<!--one line extra space -->
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <table class="table table-bordered">
            <tr>
                <th>Serial No</th>
                <th>Service No</th>
                <th>Name</th>
                <th>Mobile No</th>
                <th>Village</th>
                <th>Address</th>
            </tr>
        </table>
    </div>
</div>
<!--second page start-->
<div class="row">
    
    <div class="col-md-offset-1 col-md-5">
        <div class="form-group">
            <label for="Service no">Service No</label>
            <h5>0025764o</h5>
        </div>
        <div class="form-group">
            <label for="Username">Username</label>
            <h5>Sekar764</h5>
        </div>
        <div class="form-group">
            <label for="E-mail id">E-mail id</label>
            <h5>sekarmsa@gmail.com</h5>
        </div>
        <div class="form-group">
            <label for="Date of birth">Date of Birth</label>
            <h5>02-06-1990</h5>
        </div>
        <div class="row">
        </div>
        <div class="form-group">
            <label for="Address">Address</label>
            <h5>4/82, T.Patti, Thenur</h5>
        </div>
        <div class="form-group">
            <label for="Mobile no">Mobile No</label>
            <h5>7639387344</h5>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label for="Name">Name</label>
            <h5>Sekar</h5>
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <h5>********</h5>
        </div>
        <div class="form-group">
            <label for="Date of Join">Date of Join</label>
            <h5>02-04-2015</h5>
        </div>

        <div class="form-group">
            <label for="Due date">Due date</label>
            <h5>05-05-2015</h5>
        </div>

        <div class="form-group">
            <label for="Village">Village</label>
            <h5>Thottiyappatti</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <table class="table table-bordered">
            <tr>
                <th>Serial No</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
        </table>
    </div>
</div>



