<!-- Title of the page -->
<div class="row">
    <div class="col-xs-offset-1 col-xs-11 col-md-offset-1 col-md-11">
        <h3 class="payir-heading">Individual Report</h3>
    </div>
</div>

<!-- Search options (Service no. OR (name and village), search button) -->
<!-- TODO Add message explaining how to search -->
<div class="row">
    <div class="col-xs-offset-1 col-xs-3 col-md-offset-1 col-md-3">
        <input type="text" class="form-control" placeholder="Service Number" ng-model="search.serviceNo">
    </div>
</div>
<div class="row mts">
    <div class="col-xs-offset-1 col-xs-3 col-md-offset-1 col-md-3 mts">
        <div class="text-center">
            <label>OR</label>
        </div>
    </div>
</div>
<div class="row mts">
    <div class="col-xs-offset-1 col-md-offset-1 col-xs-3 col-md-3">
        <input type="text" class="form-control" placeholder="Name" ng-model="search.name">
    </div>
    <div class="col-xs-1 col-md-1 mts">
        <div class="text-center">
            <label>AND</label>
        </div>
    </div>
    <div class="col-xs-3 col-md-3">
        <input type="text" class="form-control" placeholder="Village" ng-model="search.village">
    </div>
</div>
<div class="row mts">
    <div class="col-xs-offset-1 col-md-offset-1 col-xs-11 col-md-11">
        <button type="submit" class="btn btn-primary btn-sm" ng-click="runSearch()">Search</button>
        <button class="btn btn-primary btn-sm mlm" ng-click="clearSearch()">Clear</button>
    </div>
</div>

<!-- Table of search results -->
<div class="row mtm">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Service No.</th>
                        <th>Name</th>
                        <th>Mobile No.</th>
                        <th>Village</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="customer in results" class="animate-show" ng-click="openCustomerInfo(customer.serviceNo)">
                        <a ng-href="#/report/individual/{{customer.serviceNo}}">
                            <td>{{$index+1}}</td>
                            <td>{{customer.serviceNo}}</td>
                            <td>{{customer.name}}</td>
                            <td>{{customer.mobileNo}}</td>
                            <td>{{customer.village}}</td>
                            <td>{{customer.address}}</td>
                        </a>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>