<p class="text-justify mtm mbm">Use the <strong>New Customer</strong> option to enter details of a new customer. You need to do this before you can start saving bill payment data of the customer.
</p>
<p class="text-justify mtm mbm">The Chrome extension connected to this software will automatically collect payment details from tneb.org. However, you can use the <strong>Bill Payment</strong> option to manually enter the payment details of a customer in case of failure or payments made using other browsers or computers. </p>
<p class="text-justify mtm mbm">The <strong>Reports</strong> section allows you to view quick summaries of payment activity in a time period, as well as detailed information about specific customers</p>
<p class="text-justify mtm mbm">Developed by Payir. For more information, visit <a href="http://www.payir.org">payir.org</a>
</p>