<!-- Title of the page -->
<div class="row">
    <div class="col-xs-offset-1 col-xs-11 col-md-offset-1 col-md-11">
        <h3 class="payir-heading">{{ isEditing ? "Edit Customer" : "New Customer" }} </h3>
    </div>
</div>

<p class="alert alert-success animate-show" ng-show="saveSucc">Customer data was saved!</p>
<p class="alert alert-danger animate-show" ng-show="saveFailed">There was an error while saving data</p>
<p class="alert alert-warning animate-show" ng-show="hasInpError">Your input has errors. Please correct them</p>

<!-- Input boxes for customer information -->
<div class="row">
    <div class="col-xs-offset-1 col-xs-5 col-md-offset-1 col-md-3">
        <form name="custForm">

            <div class="form-group">
                <label>Service No.</label>
                <input type="text" name="serviceNo" class="form-control" placeholder="12345678910" ng-model="cust.serviceNo" ng-minlength="5" ng-maxlength="11" pattern="[0-9]+" required ng-disabled="isEditing">
                <ng-messages for="custForm.serviceNo.$error" class="form-error" ng-messages-include="views/error-messages.html">
                    <ng-message when="pattern" class="message">This is an invalid number</ng-message>
                </ng-messages>
            </div>

            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" class="form-control" placeholder="JohnA001" ng-model="cust.username" ng-minlength="3" ng-maxlength="15">
                <ng-messages for="custForm.username.$error" class="form-error" ng-messages-include="views/error-messages.html"></ng-messages>
            </div>

            <div class="form-group">
                <label>E-mail ID</label>
                <input type="email" name="email" class="form-control" placeholder="abcd@gmail.com" ng-model="cust.email" ng-minlength="3">
                <ng-messages for="custForm.email.$error" class="form-error" ng-messages-include="views/error-messages.html">
                    <ng-message for="email" class="message">This is an invalid email address</ng-message>
                </ng-messages>
            </div>

            <div class="form-group">
                <label>Date of birth</label>
                <input type="date" name="dateOfBirth" class="form-control" ng-model="tempDateOfBirth">
                <ng-messages for="custForm.dateOfBirth.$error" class="form-error" ng-messages-include="views/error-messages.html">
                    <ng-message for="date" class="message">This is an invalid date</ng-message>
                </ng-messages>
            </div>

            <div class="form-group">
                <label>Address</label>
                <textarea class="form-control" name="address" rows="5" placeholder="4/82, Thenur" ng-model="cust.address" ng-minlength="5">
                </textarea>
                <ng-messages for="custForm.address.$error" class="form-error" ng-messages-include="views/error-messages.html"></ng-messages>
            </div>

        </form>
    </div>

    <div class="col-xs-5 col-md-3">
        <form name="custForm2">

            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" class="form-control" placeholder="Johnson" ng-model="cust.name" ng-minlength="2" ng-maxlength="15" pattern="[a-zA-Z ]+" required>
                <ng-messages for="custForm2.name.$error" class="form-error" ng-messages-include="views/error-messages.html">
                    <ng-message when="pattern" class="message">This is not a valid name</ng-message>
                </ng-messages>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="*******" ng-model="cust.password" ng-minlength="3">
                <ng-messages for="custForm2.password.$error" class="form-error" ng-messages-include="views/error-messages.html"></ng-messages>
            </div>

            <div class="form-group">
                <label>Date of Joining</label>
                <input type="date" name="dateOfJoining" class="form-control" ng-model="tempDateOfJoining">
                <ng-messages for="custForm2.dateOfJoining.$error" class="form-error" ng-messages-include="views/error-messages.html">
                    <ng-message when="date" class="message">This is an invalid date</ng-message>
                </ng-messages>
            </div>

            <div class="form-group">
                <label>Due date</label>
                <input type="date" name="dueDate" class="form-control" ng-model="tempDueDate" required>
                <ng-messages for="custForm2.dueDate.$error" class="form-error" ng-messages-include="views/error-messages.html">
                    <ng-message when="date" class="message">This is an invalid date</ng-message>
                </ng-messages>
            </div>

            <div class="form-group">
                <label>Village</label>
                <autocomplete id="village" ng-model="cust.village" data="villages" attr-placeholder="Thenur" attr-input-class="form-control">
                </autocomplete>

                <div class="message animate-show" ng-show="!cust.village">
                    This value is required
                </div>
                <div class="message animate-show" ng-show="cust.village && villages.indexOf(cust.village)==-1">
                    You are about to create a new village. Are you sure?
                </div>
            </div>

            <div class="form-group">
                <label>Mobile No.</label>
                <input type="text" name="mobileNo" class="form-control" placeholder="1234567890" ng-model="cust.mobileNo" pattern="[0-9]+">
                <ng-messages for="custForm2.mobileNo.$error" class="form-error" ng-messages-include="views/error-messages.html" ng-minlength="6" ng-maxlength="10">
                    <ng-message when="pattern" class="message">This is an invalid mobile number</ng-message>
                </ng-messages>
            </div>

        </form>
    </div>
</div>
<!-- Show the two buttons in the center of a 12-column div inside a row -->
<div class="row">
    <div class="col-xs-offset-1 col-xs-11 col-md-offset-1 col-md-11">
        <button type="submit" class="btn btn-success" ng-click="saveCustomer()">
            {{ isEditing ? "Update" : "Save"}}
        </button>
        <button class="btn btn-danger" ng-click="clearCustomer()" ng-show="!isEditing">Clear</button>
    </div>
</div>