<!-- Title of the page -->
<div class="row">
    <div class="col-xs-offset-1 col-xs-11 col-md-offset-1 col-md-11">
        <h3 class="payir-heading">New Customer</h3>
    </div>
</div>

<!-- Input boxes for customer information -->
<!-- TODO Handle date input -->
<div class="row">
    <div class="col-xs-offset-1 col-xs-5 col-md-offset-1 col-md-3">
        <form class="form inline">
            <div class="form-group">
                <label>Service No.</label>
                <input type="text" class="form-control" placeholder="A001 ">
            </div>
        </form>
        <form class="form inline">
            <div class="form-group">
                <label >Username</label>
                <input type="text" class="form-control" placeholder="JohnA001">
            </div>
        </form>
        <form class="form inline">
            <div class="form-group">
                <label>E-mail ID</label>
                <input type="text" class="form-control" placeholder="abcd@gmail.com">
            </div>
        </form>
        <form class="form inline">
            <div class="form-group">
                <label>Date of birth</label>
                <input type="date" class="form-control">
            </div>
        </form>
        <form class="form inline">
            <div class="form-group">
                <label>Address</label>
                <textarea class="form-control" rows="5" placeholder="4/82, Thenur"></textarea>
            </div>
        </form>
    </div>
    <div class="col-xs-5 col-md-3">
        <form class="form inline">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Johnson">
            </div>
        </form>
        <form class="form inline">
            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" placeholder="*******">
            </div>
        </form>
        <form class="form inline">
            <div class="form-group">
                <label>Date of Joining</label>
                <input type="date" class="form-control">
            </div>
        </form>
        <form class="form inline">
            <div class="form-group">
                <label>Due date</label>
                <input type="date" class="form-control">
            </div>
        </form>
        <form class="form inline">
            <div class="form-group">
                <label>Village</label>
                <input type="text" class="form-control" placeholder="Thenur">
            </div>
        </form>
        <form class="form inline">
            <div class="form-group">
                <label>Mobile No.</label>
                <input type="text" class="form-control" placeholder="1234567890">
            </div>
        </form>
    </div>
</div>
<!-- Show the two buttons in the center of a 12-column div inside a row -->
<div class="row">
    <div class="col-xs-offset-1 col-xs-11 col-md-offset-1 col-md-11">
        <button type="submit" class="btn btn-success">Save</button>
        <button class="btn btn-danger">Clear</button>
    </div>
</div>

