<div class="row">
    <div class="col-md-offset-1 col-md-11">
        <h3 class="payir-heading">Bill Payment</h3>
    </div>
</div>
<div class="row mtm mbm">
    <div class="col-md-offset-1 col-md-2">
        <b>Service No.</b>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" id="example" placeholder="text">
    </div>
</div>
<div class="row mtm mbm">
    <div class="col-md-offset-1 col-md-2">
        <b>Amount</b>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" id="example" placeholder="text">
    </div>
</div>
<div class="row mtm mbm">
    <div class="col-md-offset-1 col-md-2">
        <b> Payment Date</b>
    </div>
    <div class="col-md-2">
        <input type="date" class="form-control" id="Date">
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-2">
        <button class="btn btn-success" type="Save">Save</button>
        <button class="btn btn-danger" type="Clear">Clear</button>
    </div>
</div>
