<div class="row">
    <div class="col-md-offset-1 col-md-11">
        <h3><b> BILL PAYMENT</b></h3>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-11">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Service No</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="text" placeholder="text">
                </div>
            </div>
        </form>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Amount</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="text" placeholder="text">
                </div>
            </div>
        </form>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Payment Date</label>
                <div class="col-sm-2">
                    <input type="date" class="form-control" id="date" placeholder="date">
                </div>
            </div>
        </form>
        <button class="btn btn-success" type="Save">Save</button>
        <button class="btn btn-danger" type="Clear">Clear</button>
    </div>
</div>

</div>