<div class="row">
    <div class="col-xs-offset-1 col-xs-11 col-md-offset-1 col-md-11">
        <h3 class="payir-heading">Bill Payment</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-1 col-xs-5 col-md-offset-1 col-md-3">
        <form class="form inline">
            <div class="form-group">
                <label>Service No.</label>
                <input type="text" class="form-control" placeholder="A001 ">
            </div>
        </form>
        <form class="form inline">
            <div class="form-group">
                <label>Amount</label>
                <input type="text" class="form-control" placeholder="100">
            </div>
        </form>
        <form class="form inline">
            <div class="form-group">
                <label>Payment Date</label>
                <input type="date" class="form-control">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-1 col-xs-11 col-md-offset-1 col-md-11">
        <button type="submit" class="btn btn-success">Save</button>
        <button class="btn btn-danger">Clear</button>

    </div>
</div>

