<div class="row">
    <div class="col-xs-offset-1 col-xs-11 col-md-offset-1 col-md-11">
        <h3 class="payir-heading">Not Paid Report</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <table class="table table-bordered">
            <tr>
                <th>S.No.</th>
                <th>Not Paid</th>
                <th>Sevice No.</th>
                <th>Name</th>
                <th>Village</th>
            </tr>
        </table>
    </div>
</div>