<div class="row">
    <div class="col-md-offset-1 col-md-11">
        <h3>Not Paid Report</h3>
    </div>
    <div class="col-md-offset-1 col-md-10">
        <table class="table table-bordered">
            <tr>
                <th>
                    Serial No
                </th>
                <th>
                    Not Paid
                </th>
                <th>
                    Name
                </th>
                <th>
                    Sevice No
                </th>
                <th>
                    Village
                </th>
            </tr>

        </table>
    </div>


</div>