<div class="row">
    <div class="col-md-12">
        PAYMENT DUE REPORT
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <th>S.NO</th>
                <th>DUE DATE</th>
                <th>SERVICE NO</th>
                <th>NAME</th>
                <th>VILLAGE</th>
            </tr>
            <tr>
                <td>1</td>
                <td>02052015</td>
                <td>A005</td>
                <td>ABC</td>
                <td>THENUR</td>
            </tr>
            <tr>
                <td>2</td>
                <td>02052015</td>
                <td>A007</td>
                <td>DEF</td>
                <td>EDUMALAI</td>
            </tr>
            <tr>
                <td>3</td>
                <td>02052015</td>
                <td>A008</td>
                <td>GHI</td>
                <td>THENUR</td>
            </tr>
            <tr>
                <td>4</td>
                <td>02052015</td>
                <td>A009</td>
                <td>JKL</td>
                <td>THOTIYAPATTI</td>
            </tr>
            <tr>
                <td>5</td>
                <td>02052015</td>
                <td>A011</td>
                <td>MNO</td>
                <td>THENUR</td>
            </tr>
            <tr>
                <td>6</td>
                <td>02052015</td>
                <td>A031</td>
                <td>PQR</td>
                <td>THENUR</td>
            </tr>
        </table>
    </div>
</div>

