<div class="row">

    <div class="col-md-offset-1 col-md-11">
        <h3>TIME REPORT</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-11">
        <form class="form-inline">
            <div class="form-group">
                <label for="exampleInputName2">Start Date</label>
                <input type="date" class="form-control" id="exampleInputName2">
            </div>
            <div class="form-group">
                <label for="exampleInputName2">End Date</label>
                <input type="date" class="form-control" id="exampleInputName2">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
<!---insert margin top-->
<form class="form-horizontal">
    <div class="form-group">
        <label for="inputName3" class="col-md-4 control-label">Total Number Of Customer Payment</label>
        <div class="col-md-2">
            <input type="text" class="form-control" id="inputtext3">
        </div>
    </div>
    <div class="form-group">
        <label for="inputText3" class="col-md-4 control-label">Total Number Of Bill Payment</label>
        <div class="col-md-2">
            <input type="text" class="form-control" id="inputtext3">
        </div>
    </div>
    <div class="form-group">
        <label for="inputText3" class="col-md-4 control-label">Total Amount</label>
        <div class="col-md-2">
            <input type="text" class="form-control" id="inputtext3">
        </div>
    </div>
</form>
<!---insert margin top--->
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <table class="table table-bordered">
            <tr>
                <th>S No</th>
                <th>Date</th>
                <th>Service No</th>
                <th>Name</th>
                <th>Village</th>
                <th>Amount</th>
            </tr>
        </table>
    </div>
</div>
