<!-- Title of the page -->
<div class="row">
    <div class="col-md-offset-1 col-md-11">
        <h3 class="payir-heading">Time Report</h3>
    </div>
</div>

<!-- Search options (start date, end date and submit button) -->
<div class="row">
    <div class="col-md-offset-1 col-md-11">
        <form class="form-inline">
            <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="date" class="form-control" id="startDate">
            </div>
            <div class="form-group mlm">
                <label for="endDate">End Date</label>
                <input type="date" class="form-control" id="endDate">
            </div>
            <button type="submit" class="mlm btn btn-primary">Search</button>
        </form>
    </div>
</div>

<!-- Show quick statistics on the activity during the time range -->
<div class="row mtm mbm">
    <div class="col-md-offset-1 col-md-3">
        <p>Total Number of Customers</p>
        <p>Total Number of Bill Payments</p>
        <p>Total Amount</p>
    </div>
    <div class="col-md-3">
        <p>
            <b>100</b>
        </p>
        <p>
            <b>100</b>
        </p>
        <p>
            <b>100</b>
        </p>
    </div>
</div>

<!-- Show detailed table of bill payment -->
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <table class="table table-bordered">
            <tr>
                <th>S.No.</th>
                <th>Date</th>
                <th>Service No.</th>
                <th>Name</th>
                <th>Village</th>
                <th>Amount</th>
            </tr>
        </table>
    </div>
</div>
